@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  
  --color-primary: #00f0ff;
  --color-primary-foreground: #09090b;
  
  --color-secondary: #ff3cac;
  --color-secondary-foreground: #09090b;
  
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
}